.tasks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.tasks__content--done {
  text-decoration: line-through;
}

.tasks__button {
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  margin: 10px;
}

.tasks__item--hidden {
  display: none;
}

.tasks__button--done {
  background: green;
}

.tasks__button--done:hover {
  background: hsl(120, 100%, 30%);
  transition: 0.3s;
  cursor: pointer;
}

.tasks__button--remove {
  background: red;
}

.tasks__button--remove:hover {
  background: hsl(0, 100%, 60%);
  transition: 0.3s;
  cursor: pointer;
}
