html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #eee;
  word-break: break-word;
}

.container {
  margin: 0 auto;
  max-width: 850px;
  padding: 20px;
  word-break: break-word;
}

@media (max-width: 768px) {
  .container {
    margin: 20px;
  }
}
